{% extends 'base.html' %}
{% block 'main-content' %}
  <input type="hidden" id="headerdata" value="CHILD CATEGORY">
  <input type="hidden" id="attribute_data" value="ADD NEW ATTRIBUTE">
      <div class="content-area">
          <div class="mr-breadcrumb">
              <div class="row">
                  <div class="col-lg-12">
                    <h4 class="heading">Child Categories</h4>
                    <ul class="links">
                      <li>
                        <a href="{% url 'dashboard' }">Dashboard </a>
                      </li>
                      <li>
                        <a href="{% url 'child-category' }">Manage Categories</a>
                      </li>
                      <li>
                        <a href="{% url 'child-category' }">Sub Categories</a>
                      </li>
                      <button type="button" class="btn btn-primary" style="float:right" data-toggle="modal" data-target="#exampleModal">Add New</button>
                    </ul>
                  </div>
              </div>
          </div>
          <div class="product-area">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="mr-table allproduct">
                          <div class="alert alert-success validation" style="display: none;">
                            <button type="button" class="close alert-close"><span>×</span></button>
                            <p class="text-left"></p> 
                          </div>
                          <div class="table-responsive">
                              <table id="geniustable" class="table table-hover dt-responsive" cellspacing="0" width="100%">
                                  <thead>
                                      <tr>
                                        <th>Id</th>
                                        <th>image</th>
                                        <th >Main Category</th>
                                        <th >Sub Category</th>
                                        <th>category_name</th>
                                        <th>description</th>
                                        <th>Status</th>
                                        <th  width="20%">Options</th>
                                      </tr>
                                  </thead>
                                  {% for sub_cat in data %}
                                    <tbody>
                                      <tr>
                                        <td>{{sub_cat.id}}</td>
                                        <td><img src="{{sub_cat.image }}"></td>
                                        <td>{{sub_cat.main_category_id }}</td>
                                        <td>{{sub_cat.sub_category_id }}</td>
                                        <td>{{sub_cat.category_name }}</td>
                                        <td>{{sub_cat.description }}</td>
                                        <td>Active</td>
                                        <td>
                                          <button class="btn btn-danger"><a href="{% url 'child-category' sub_cat.id %}">Delete</a></button>
                                          <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit</button>
                                        </td>
                                      </tr>
                                    </tbody>
                                  {% endfor %}
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="submit-loader">
                  <img  src="https://product.geniusocean.com/geniuscart/assets/images/1564224329loading3.gif" alt="">
              </div>
              <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="attribute" tabindex="-1" role="dialog" aria-labelledby="attribute" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="submit-loader">
                <img  src="https://product.geniusocean.com/geniuscart/assets/images/1564224329loading3.gif" alt="">
            </div>
            <div class="modal-header">
              <h5 class="modal-title"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="modal1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header d-block text-center">
              <h4 class="modal-title d-inline-block">Confirm Delete</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                  <p class="text-center">You are about to delete this Category. Everything under this category will be deleted.</p>
                  <p class="text-center">Do you want to proceed?</p>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <form action="" class="d-inline delete-form" method="POST">
                  <input type="hidden" name="_method" value="delete" />
                  <input type="hidden" name="_token" value="tabsErUdpFmv9xR99xxSlaDNChB1R3Hni633U8kr">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Childcategory</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!DOCTYPE html>
              <html>
                <body>
                  <form method="POST" action="{% url 'child-category' %}" enctype="multipart/form-data">
                    <div class="formcontainer">
                      <div class="container">
                        <label for="main_category_id"><strong>main_category_id</strong></label><br>
                        {% comment %} <input type="text" placeholder="Enter main_category_id" name="main_category_id" required><br> {% endcomment %}
                        <td>
                          <select id="dropdown">
                            <option id="dropdown"> Select an option</option>
                            {% for i in main_data %}
                            {{ i }}
                            {{ main_data.category_name }}
                            {% endfor %}
                          </select>
                        </td>
                        <label for="main_category_id"><strong>_category_id</strong></label><br>
                        {% comment %} <input type="text" placeholder="Enter main_category_id" name="main_category_id" required><br> {% endcomment %}
                        <td>
                          <select id="dropdown">
                            <option id="dropdown"> Select an option</option>
                            {% for i in main_data %}
                            {{ i }}
                            {{ main_data.category_name }}
                            {% endfor %}
                          </select>
                        </td>
                        <label for="category_name"><strong>category_name</strong></label><br>
                        <input type="text" placeholder="Enter category_name" name="category_name" required><br>
                        <label for="description"><strong>description</strong></label><br>
                        <input type="text" placeholder="Enter description" name="description" required><br>
                        <label for="cate_image"><strong>cate_image (size cannot exceed 1 MB)</strong></label><br>
                        <input type="file" placeholder="cate_image" name="cate_image" accept="cate_image/jpeg, cate_image/png, cate_image/gif" required><br>
                      </div>
                      <div class="container" style="background-color: #eee">
                        <button type="submit" class="btn btn-primary"><strong>Submit</strong></button>
                      </div>
                    </div>
                  </form>
                </body>
                <script>
                    fetch('http://127.0.0.1:8000/api/v1/main-category/')
                      .then(response => response.json())
                      .then(data => {
                        console.log("ssssssssssssssss",data)
                        const dropdown = document.getElementById('dropdown');
                        data.forEach(item => {
                          console.log("dsad",item)
                          const option = document.createElement('option');
                          option.value = item.id;
                          option.text = item.category_name;
                          dropdown.appendChild(option);
                        });
                      })
                      .catch(error => console.error(error));
                  </script>
              </html>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
{% endblock 'main-content' %}

